{% extends "layout.html" %}

{% block title %}
    INDEX
{% endblock %}

{% block main %}
    <h1>Registrants</h1>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th> </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.total_shares }}</td>
                <td>{{ stock.price | usd}}</td>
                <td>{{ stock.total | usd}}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" class="text-end">Cash</td>
            <td>{{ cash | usd }}</td>
        </tr>
        <tr>
            <td colspan="3" class="text-end">**GRAND TOTAL**</td>
            <td>**{{ total | usd }}**</td>
        </tr>
    </tfoot>
    </table>
{% endblock %}
